section.body
  .flex.flex--center
    .col-1280
      |{% for post in site.posts limit: 1 %} 
      .content-container.content-main-col
        .post-title.item-card.item-card-padding
          h4 {{post.title}}
          p {{post.sub-title}}
          p.allcaps.no-margin.post-category {{post.category}}
          p.no-margin {{post.date| date: '%B %d, %Y'}} | {{post.location}}
          //p TAGS: {{post.tags}}
          hr.content-separation-line
          |{% include social-list.html %}
        .item-card.item-card-padding
          |{{post.content}}
          
        .item-card.item-card-padding
          h4 Feel free to leave a comment (L)
          |{% include disqus.html %}
      |{% endfor %} 
      
      
      .sidebar
        .sidebar-contents.sidebar-gutter.item-card.item-card-padding 
          .sidebar-section
            h4 Watch more
          hr.sidebar-separation-line
          .sidebar-section
            .sidebar-body
              ul
                |{% for post in site.posts limit: 6 offset: 1 %}
                li: .post-list-item
                  .related-post-dismissable
                    .content-wrapper
                      a(href="{{post.url}}")
                        p.title {{post.title}}
                        p.sub-info.allcaps {{post.category}}
                        p.sub-info {{post.date| date: '%B %d, %Y'}}
                    .thumb-wrapper              
                      a(href="{{post.url}}")
                        img(href="{{post.url}}" src="{{post.thumbnail}}")
                |{% endfor %} 
          hr.sidebar-separation-line
