section.hero
  .flex.flex--center
  
    |{% for post in site.posts limit: 1 %}
    .hero-bundle
      iframe(src="{{post.link}}" frameborder="0" allowfullscreen).full-screen
    //a(style="background-image: url(assets/img/posts/thumbnails/{{post.thumbnail}})").hero-thumb
    //a(href="{{post.url}}").hero-meta
      //.name {{post.title}}
      //.prijs {{post.prijs}}   
    |{% endfor %}


    //.col-100
      //.bg-overlay
      //|{% for post in site.posts limit: 1 %}
      //.hero-container
      //a.hero-cta(href="{{post.youtube-link}}" data-lity)
        //a(href="{{post.url}}").hero-meta
        //h1.title {{post.title}}
        //h4.sub-title {{post.sub-title}}
      //|{% endfor %}
    
    //.flex.flex--center
      //iframe(id="video" src="https://www.youtube.com/embed/ZFMa_kAANGE" frameborder="0" allowfullscreen)

  .flex.flex--center
  
