.social-list 
  ul
    li: a.social-follow SHARE:
    li: a.youtube(href="https://www.youtube.com/channel/UCVzMry2PfkaisRTrgLef4jw") <i class="fa fa-youtube-play fa-lg"></i>
    li: a.facebook(href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.youtube.com/channel/UCVzMry2PfkaisRTrgLef4jw") <i class="fa fa-facebook-square fa-lg"></i>
    li: a.instagram(href="https://www.instagram.com/reverse.engineers/") <i class="fa fa-instagram fa-lg"></i>
    li: a.snapchat(href="#snapchat") <i class="fa fa-snapchat-square fa-lg"></i>
    li: a.link(href="#link") <i class="fa fa-envelope-square fa-lg"></i> 
