.social-list 
  ul
    li: a.social-follow SHARE:
    li: a.facebook(href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.youtube.com/channel/UCVzMry2PfkaisRTrgLef4jw" target="_blank") <i class="fa fa-facebook-square fa-lg"></i>
    li: a.link(href="#link") <i class="fa fa-envelope-square fa-lg"></i> 
    
    li: a.social-follow FOLLOW:
    li: a.youtube(href="http://www.youtube.com/channel/UCVzMry2PfkaisRTrgLef4jw?sub_confirmation=1" target="_blank") <i class="fa fa-youtube-play fa-lg"></i>
    li: a.instagram(href="https://www.instagram.com/reverse.engineers/" target="_blank") <i class="fa fa-instagram fa-lg"></i>
    li: a.snapchat(href="https://www.snapchat.com/add/master_iamnak" target="_blank") <i class="fa fa-snapchat-square fa-lg"></i>
    
