section.body
  background:
    color: #F2F2F2
  //height: 100vh
  width: 100%
  display: block
  overflow-x: hidden
  padding-top: 20px

  .allcaps
    text-transform: uppercase

  .no-margin
    margin: 0

  .post-category
    font-weight: 700

  .content-container
    background:
      //color: pink
    float: left
    width: 640px
    z-index: 0
    display: block
    //position: absolute

  .content-main-col
    clear: left
    float: left

  .content-title
    min-height: 150px
    padding-bottom: 5px

  .content-separation-line
    border-bottom: .5px solid #e2e2e2
    margin: 10px 0 20px

  .item-card
    margin: 0 0 10px
    border: 0
    background: #fff
    box-shadow: 0 1px 2px rgba(0,0,0,.1)
    box-sizing: border-box

  .item-card-padding
    padding: 15px

  .sidebar
    //background:
      color: blue
    max-width: 416px
    margin-left: 650px
    margin-bottom: 20px
    margin-top: 0
    position: relative
    transition:
      margin-top: .3s ease-in-out
      padding-top: .3s ease-in-out

  .sidebar-contents
    min-height: 520px
    min-width: 416px
    margin-top: 0
    padding-left: 5px

  .sidebar-gutter
    padding-left: 10px
    padding-right: 10px
    display: inline-block

  .sidebar-modules

  .sidebar-section
    position: relative
    z-index: 2
    margin: 0 0 15px 5px

  .sidebar-separation-line
    border-bottom: 1px solid #e2e2e2
    margin: 5px 5px 15px

  .sidebar-body
    ul
      margin: 0
      padding: 0
      border: 0
      font-size: 100%
      background: transparent
      list-style: none
      display: block
      list-style-type: disc

  .youtube
    color: #b31217

  .facebook
    color: #3b5998

  .instagram
    color: #c32aa3

  .snapchat
    color: #fffc00

  .social-follow
    font-weight: 700

  .post-list-item
    position: relative
    //margin-bottom: 15px

    .title
      display: block
      font-size: 18px
      line-height: 1.2
      color: #333
      max-height: 2.4em
      margin-bottom: 2px
      overflow: hidden
      cursor: pointer
      font-weight: 500

  .related-post-dismissable
    min-height: 94px


  .content-wrapper
    margin-left: 180px
    padding: 0
    cursor: pointer
    p
      margin: 0

  .thumb-wrapper
    height: 94px
    width: 168px
    position: absolute
    top: 0
    margin: 0 5px
    overflow: hidden
    cursor: pointer
    img
      display: block
      width: 168px
      height: 94px
      height: auto
      position: relative
      top: 50%
      transform: translateY(-13%)

  .sub-info
    color: #767676
    font-size: 11px
    font-family: 'Open Sans', sans-serif
    font-weight: 400

  //typography
  h4
    color: black
    font-family: 'Fira Sans', sans-serif
    margin-top: 0
    margin-bottom: 0

  ul
    list-style: none
    margin: 0
    padding: 0

    li
      display: inline
      margin-right: 40px

      &:last-child
        margin-right: 10px

      a
        font:
          size: 18px
          weight: 700
        color: black
        text-transform: uppercase
